{% extends 'listings/base.html' %}

{% block content %}

<table class="custom-table">
    <thead>
      <tr>
        <th>Ville</th>
        <th>Type de vue</th>
        <th>Période</th>
        <th>Télécharge la liste</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Capo Negro</td>
        <td><span class="badge bg-secondary">Offline</span></td>
        <td>
          <select class="form-select">
            <option value="11/01/19">11/01/19</option>
            <option value="12/01/19">12/01/19</option>
            <option value="13/01/19">13/01/19</option>
          </select>
        </td>
        <td>
          <button class="btn btn-link"><i class="fas fa-file-pdf"></i>PDF</button>
        </td>
      </tr>
    </tbody>
  </table>

  
        <h1>Hello Django !</h1>
        <p>
            J'ai..
            {% if bands|length < 5 %}
                peu de
            {% elif bands|length < 10 %}
                quelques
            {% else %}
                beaucoup de
            {% endif %}
                groupes préférés.
        </p>
        <ul>
            {% for band in bands %}
            <li>
                
               
                {{ band.name|upper }},
              
            </li>
            {% endfor %}
        </ul>
       

        {%endblock%}       